body{
    background-color:#F7E7D8;
    text-align:left;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color:#BB987C;
    padding:20px;
}

h1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color:#BB987C;
}

.imagem{
    width:100%;
    max-width: 400%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin:10px;
    margin-right: 20px;
}