body{
    background-color:#BB987C;
    text-align:left;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color:#F7E7D8;
    padding:20px;
}

h1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color:#BB987C;
}

.imagem{
    width:100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin:10px;
    margin-right: 20px;
}

.caixa{
    font-size: 20px;
    display:flex;
    flex-grow:1;
    justify-content: left;
    max-width: 100%;
    width: 90%;
    height:auto;
    border: 2px solid #F7E7D8;
    border-radius: 15px;
    background-color:#F7E7D8;
    padding: 20px;
    margin-bottom: 20px;
}
.texto {
    display: flex;
    flex-direction: column;
    text-align: left;
}