body {
    background-color: #FCFFF5;
    font-size:24px;
    text-align: center;
}
h1, h2{
font-style: italic;
font-family: 'Times New Roman', Times, serif;
color:red;

}

img {
    width: 200px;
    height: auto;

}

.caixa-destaque {
    background: color #efe8d8;
    padding: 30px;
    text-align: center;
}
.frases {
    color:rgb(21, 180, 21);
}



