body {
    background-color: #CCDCF1;

}
.imagem {
    width: 100%;
    max-width:300px;
    height:auto;
    object-fit: cover;
    border-radius: 15px;
    margin: 20px auto;
    display:block;
}

. caixa {
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: left;
    max-width: 100%;
}



