body{
    background-color: #FEF6E1
}

h1, h2{
font-style: italic;
font-family: 'Times New Roman', Times, serif;
color: #816238;

}


.imagem {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit:cover;
    border-radius: 4px ;
    margin:10px ;
}

